﻿@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Brak dostępu";
}
<div class="form-wrapper">
    <header>
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">Twoje konto nie posiada uprawnień do tej treści.</p>
    </header>
    <div class="form-wrapper-btn">
        <a href="##" onClick="history.go(-1); return false;">Powrót</a>
    </div>
</div>
