﻿@page
@model ForgotPasswordModel

    <div class="form-wrapper">
        <h4>Wprowadź adres email konta, na który zostanie wysłany link resetujący hasło.</h4>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="form-wrapper-btn">Resetuj hasło</button>
        </form>
    </div>
