﻿@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Wiadomość została wysłana";
}
<div class="form-wrapper">
    <h1>@ViewData["Title"]</h1>
    <p>
        Sprawdź skrzynkę pocztową w celu zresetowania hasła. Upewnij się, że wiadomośc nie została umieszczona w folderze spam.
    </p>
</div>

