﻿@page
@model LockoutModel
@{
    ViewData["Title"] = "Brak dostępu";
}
<div class="form-wrapper">

    <header>
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">To konto zostało zablokowane.</p>
    </header>
</div>