﻿@page
@model LoginModel

<div class="form-wrapper">
    <form id="account" method="post">
        <h4>Logowanie</h4>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Input.Username">Login</label>
            <input asp-for="Input.Username" class="form-control" />
            <span asp-validation-for="Input.Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Password">Hasło</label>
            <input asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe" />
                    Zapamiętaj logowanie
                </label>
            </div>
        </div>
        <div class="form-group form-wrapper-btn">
            <button type="submit">Zaloguj</button>
        </div>
        <div class="form-group form-wrapper-btn">
            <p class="form-wrapper-btn">
                <a id="forgot-password" asp-page="./ForgotPassword">Zapomniałeś hasła?</a>
            </p>
            <p class="form-wrapper-btn">
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Rejestracja</a>
            </p>
        </div>
    </form>
</div>
