﻿@page
@model RegisterModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="form-wrapper">
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <h2>Dane logowania:</h2>
        <div class="form-group">
            <label asp-for="Input.UserName">Nazwa użytkownika</label>
            <input asp-for="Input.UserName" class="form-control" />
            <span asp-validation-for="Input.UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Password">Hasło</label>
            <input asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.ConfirmPassword">Potwierdzenie hasła</label>
            <input asp-for="Input.ConfirmPassword" class="form-control" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.Firstname">Imię</label>
            <input asp-for="Input.Firstname" class="form-control" />
            <span asp-validation-for="Input.Firstname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Surname">Nazwisko</label>
            <input asp-for="Input.Surname" class="form-control" />
            <span asp-validation-for="Input.Surname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.PhoneNumber">Numer telefonu</label>
            <input asp-for="Input.PhoneNumber" class="form-control" />
            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
        </div>       
        <button type="submit" class="form-wrapper-btn">Utwórz konto</button>
    </form>
</div>
