﻿@page
@model ChangePasswordModel
@{
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="form-wrapper">
    <partial name="_StatusMessage" for="StatusMessage" />
    <form id="change-password-form" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Input.OldPassword">Stare hasło</label>
            <input asp-for="Input.OldPassword" class="form-control" />
            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.NewPassword">Nowe hasło</label>
            <input asp-for="Input.NewPassword" class="form-control" />
            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.ConfirmPassword">Potwierdź hasło</label>
            <input asp-for="Input.ConfirmPassword" class="form-control" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="form-wrapper-btn">Zmień</button>
    </form>
    <a href="##" class="form-wrapper-btn" onClick="history.go(-1); return false;">Powrót</a>
</div>