﻿
<div class="form-wrapper">
    <ul class="align-self-center">
        <li class="list-inline-item">
            <a class="nav-link" asp-controller="Order" asp-action="All">Zamówienia</a>
        </li>
        <li class="list-inline-item">
            <a class="nav-link" asp-controller="Product" asp-action="Index">Produkty</a>
        </li>
        <li class="list-inline-item">
            <a class="nav-link" asp-controller="User" asp-action="Index">Użytkownicy</a>
        </li>
    </ul>
</div>