﻿@model SklepInternetowy.BL.DTOs.Home.HomePageDTO

<div class="home-container text-white">
    <div>
        <p>Jesteśmy firmą zajmującą się składaniem komputerów z wybranych przez Ciebie komponentów w całość. Do naszych atutów należą m.in. szybki czas realizacji, darmowa wysyłka oraz profesjonalny cable management, który sprawia, że komputer prezentuje się schludnie oraz poprawia przepływ powietrza w obudowie. W naszej ofercie znajdują się jedynie sprawdzone i wysokiej jakości produkty, które są ze sobą kompatybilne.</p>
    </div>
    <div>
        <span>W naszej ofercie znajduje się aż @Model.ProductCount produktów!</span>
    </div>
    <div>
        <span>Zrealizowaliśmy już @Model.OrderCount zamówień!</span>
    </div>
    <div>
        <span>Portal posiada @Model.AccountCount zarejestrowanych kont klientów!</span>
    </div>
</div>
