﻿@model SklepInternetowy.BL.DTOs.Product.CreateProductDTO

<div class="form-wrapper">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label">Nazwa</label>
            <input asp-for="Name" placeholder="Nazwa produktu" class="form-control" type="text" name="Name" value="@Model?.Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label">Opis</label>
            <textarea asp-for="Description" class="form-control" text-wrap:normal" type="text" placeholder="Opis produktu">@Model?.Description</textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Type" class="control-label">Typ produktu</label>
            <select asp-for="Type" selected="@Model?.Type" class="form-control" asp-items="Html.GetEnumSelectList<SklepInternetowy.Core.Enums.ProductType>()"></select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="control-label">Cena jednostkowa</label>
            <input asp-for="Price" placeholder="Wprowadź cenę produktu" class="form-control" type="text" name="Price" value="@Model?.Price" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AvailableUnits" class="control-label">Stan magazynu</label>
            <input asp-for="AvailableUnits" placeholder="Wprowadź stan magazynu" class="form-control" type="number" name="AvailableUnits" value="@Model?.AvailableUnits" />
            <span asp-validation-for="AvailableUnits" class="text-danger"></span>
        </div>
        <button type="submit" class="form-wrapper-btn">Dodaj</button>
    </form>

    <a href="##" class="form-wrapper-btn" onClick="history.go(-1); return false;">Powrót</a>
</div>