﻿@model SklepInternetowy.BL.DTOs.Product.DeleteProductDTO

<h3>Potwierdzenie tej akcji spowoduje usunięcie produktu. </h3>
<div class="form-wrapper">
    <dl>
        <dt>
            Nazwa
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="DeleteConfirmed">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="form-wrapper-btn">Usuń produkt</button>
        <a href="##" class="form-wrapper-btn" onClick="history.go(-1); return false;">Anuluj</a>
    </form>
</div>
