﻿@model SklepInternetowy.BL.DTOs.Product.ViewProductDTO

<div class="form-wrapper">
    <dl>
        <dt>
            Nazwa
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Typ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            Cena
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            Opis
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            Stan magazynu
        </dt>
        <dd>
            @Model.AvailableUnits
        </dd>
    </dl>
    @if (Model.IsAdmin)
    {
        <a class="form-wrapper-btn" asp-action="Delete" asp-route-id="@Model.Id">Usuń</a>
        <a class="form-wrapper-btn" asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a>
    }
    <a href="##" class="form-wrapper-btn" onClick="history.go(-1); return false;">Powrót</a>
</div>
