﻿@model SklepInternetowy.BL.Models.PaginatedList<SklepInternetowy.BL.DTOs.Product.ListProductTypeDTO>

<div class="table-wrapper">
    <form class="text-white" asp-action="Type" method="get">
        <div class="search-wrapper">
            <input class="form-control" type="text" placeholder="Nazwa, opis..." name="search" value="@ViewData["CurrentFilter"]" />
            <div>
                <button type="submit" class="form-wrapper-btn">Szukaj</button>
                <a class="form-wrapper-btn" asp-action="Type">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                    </svg>
                </a>
            </div>
        </div>
    </form>

    <table class="text-white table table-responsive-xl">
        <thead>
            <tr>
                <th></th>
                <th>
                    <a asp-action="Type" asp-route-sortOrder="@ViewData["NameSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Nazwa</a>
                </th>
                <th>
                    <a asp-action="Type" asp-route-sortOrder="@ViewData["PriceSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Cena</a>
                </th>
                <th style="min-width:500px">
                    <a>Opis</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Order" asp-action="AddOrderProduct" asp-route-id="@item.Id">Wybierz</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td style="min-width:500px">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    <div class="d-flex align-self-center">
        <a asp-action="Type"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="table-link @prevDisabled">
            Poprzednia
        </a>
        <a asp-action="Type"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="table-link @nextDisabled">
            Następna
        </a>
    </div>
    <a href="##" class="form-wrapper-btn" onClick="history.go(-1); return false;">Powrót</a>
</div>