﻿@using Microsoft.AspNetCore.Identity
@using SklepInternetowy.Core.Domain;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Admin">Zarządzaj</a>
            </li>
        }
        else
        {
            <li>
                <a class=" align-selft-flex-start nav-link" asp-controller="Order" asp-action="PCmaker">Konfigurator</a>

            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Order" asp-action="My">Zamówienia</a>
            </li>
        }
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link">Wyloguj</button>
            </form>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="User" asp-action="Details">Konto</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Załóż konto</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Logowanie</a>
        </li>
    }
</ul>
