﻿@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="form-wrapper">

    <h1 class="text-danger">@Model.Title</h1>

    <p>
        @Model.ExceptionMessage
    </p>
    <a href="##" class="form-wrapper-btn" onClick="history.go(-1); return false;"> Powrót</a>
</div>