﻿@model SklepInternetowy.BL.DTOs.Order.CreateOrderProductDTO

<h3>Czy zatwierdzasz wybór?. </h3>
<div class="form-wrapper">
    <dl>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="AddOrderProductConfirmed">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="form-wrapper-btn">Wybierz</button>
        <a href="##" class="form-wrapper-btn" onClick="history.go(-1); return false;">Anuluj</a>
    </form>
</div> 