﻿@model SklepInternetowy.BL.Models.PaginatedList<SklepInternetowy.BL.DTOs.Order.GetListOrderDTO>
<div class="table-wrapper">
    <form class="text-white" asp-action="All" method="get">
        <div class="search-wrapper">
            <input class="form-control" type="text" placeholder="Numer zlecenia" name="search" value="@ViewData["CurrentFilter"]" />
            <div>
                <button type="submit" class="form-wrapper-btn">Szukaj</button>
                <a class="form-wrapper-btn" asp-action="All">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                    </svg>
                </a>
            </div>
        </div>
    </form>
    <table class="text-white table table-responsive-xl">
        <thead>
            <tr>
                <th>
                    Numer zamówienia
                </th>
                <th>
                    <a asp-action="All" asp-route-sortOrder="@ViewData["DateCreatedSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Data utworzenia</a>
                </th>
                <th>
                    <a asp-action="All" asp-route-sortOrder="@ViewData["CostSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Cena (zł)</a>
                </th>
                <th>
                    <a asp-action="All" asp-route-sortOrder="@ViewData["StatusSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Status</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @item.DateCreated.ToString("yyyy.MM.dd")
                    </td>
                    <td>
                        @item.Cost.ToString("G")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        <a class="table-link" asp-action="Edit" asp-route-id="@item.Id">Edytuj</a>
                        <a class="table-link" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    <div class="d-flex align-self-center">
        <a asp-action="All"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="table-link @prevDisabled">
            Poprzednia
        </a>
        <a class="table-link @nextDisabled" asp-action="All"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]">
            Następna
        </a>
    </div>
</div>