﻿@model SklepInternetowy.BL.DTOs.Order.GetOrderDTO

<div class="form-wrapper">
    <dl>
        <dt>
            Numer zamówienia
        </dt>
        <dd>
            @Model.Id
        </dd>
        <dt>
            Data utworzenia
        </dt>
        <dd>
            @Model.DateCreated.ToString("yyyy.MM.dd")
        </dd>
        <dt>
            Koszt zamówienia
        </dt>
        <dd>
            @Model.Cost.ToString("G")
        </dd>
        <dt>
            Status
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            Adres dostawy
        </dt>
        <dd>
            @Model.Location
        </dd>
    </dl>
</div>
<div class="table-wrapper">
    <table class="text-white table table-responsive-sm">
        <thead>
            <tr>
                <th>
                    Nazwa
                </th>
                <th>
                    Ilość
                </th>
                <th>
                    Cena
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderProducts)
            {
                <tr>
                    <td>
                        <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        @item.Price.ToString("G")
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="d-flex">
    @if (Model.IsAdmin)
    {
        <a class="form-wrapper-btn" asp-action="Edit" asp-route-id="@Model.Id">Zmień status</a>
    }
    @if (Model.Status == SklepInternetowy.Core.Enums.OrderStatus.Zrealizowane)
    {
        <a class="form-wrapper-btn" asp-action="Invoice" asp-route-id="@Model.Id">Faktura</a>
    }
    <a href="##" class="form-wrapper-btn" onClick="history.go(-1); return false;">Powrót</a>
</div>
