﻿@model SklepInternetowy.BL.DTOs.Order.ChangeStatusDTO

<div class="form-wrapper">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Id" class="control-label">Identyfikator zamówienia</label>
            <input asp-for="Id" class="form-control" type="text" name="ID" value="@Model.Id" disabled />
        </div>
        <div class="form-group">
            <label asp-for="Status" class="control-label">Status</label>
            <select asp-for="Status" selected="@Model.Status" class="form-control" asp-items="Html.GetEnumSelectList<SklepInternetowy.Core.Enums.OrderStatus>().Skip(3)"></select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
        <button class="form-wrapper-btn" type="submit">Zapisz zmiany</button>
    </form>

    <a href="##" class="form-wrapper-btn" onClick="history.go(-1); return false;">Powrót</a>
</div>