﻿@model List<SklepInternetowy.BL.DTOs.Order.GetListOrderDTO>

<div class="table-wrapper">
    <table class="text-white table table-responsive-xl">
        <thead>
            <tr>
                <th>
                    Numer zamówienia
                </th>
                <th>
                    Data utworzenia
                </th>
                <th>
                    Cena zamówienia (zł)
                </th>
                <th>
                    Status
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @item.DateCreated.ToString("yyyy.MM.dd")
                    </td>
                    <td>
                        @item.Cost.ToString("G")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
