﻿@model SklepInternetowy.BL.DTOs.Order.CreateOrderDTO

<div class="flex-parent-row">
    <div class="flex-parent-child">
        <div class="child-item">
            <div>
                <div>
                    @if (Model?.Cpu != null)
                    {
                        <div class="d-flex flex-row justify-content-between">
                            <span>@Model.Cpu.Name</span>
                            <span>Cena: @Model.Cpu.Price</span>
                            <form class="delete-btn" asp-controller="Order" asp-action="DeleteOrderItem" asp-route-id="@Model.Cpu.Id">
                                <button type="submit">&#10006;</button>
                            </form>
                        </div>
                    }
                    else
                    {
                        <span>Nie wybrano procesora</span>
                    }
                </div>
                <div>
                    <a class="form-wrapper-btn" asp-controller="Product" asp-action="Type" asp-route-type="0">Wybierz</a>
                </div>
            </div>
            <div>
                <div>
                    @if (Model?.Cooler != null)
                    {
                        <div class="d-flex flex-row justify-content-between">
                            <span>@Model.Cooler.Name</span>
                            <span>Cena: @Model.Cooler.Price</span>
                            <form class="delete-btn" asp-controller="Order" asp-action="DeleteOrderItem" asp-route-id="@Model.Cooler.Id">
                                <button type="submit">&#10006;</button>
                            </form>
                        </div>
                    }
                    else
                    {
                        <span>Nie wybrano chłodzenia</span>
                    }
                </div>
                <div>
                    <a class="form-wrapper-btn" asp-controller="Product" asp-action="Type" asp-route-type="1">Wybierz</a>
                </div>
            </div>
        </div>
        <div class="child-item">
            <div class="single-item">
                <div>
                    @if (Model?.Gpu != null)
                    {
                        <div class="d-flex flex-row justify-content-between">
                            <span>@Model.Gpu.Name</span>
                            <span>Cena: @Model.Gpu.Price</span>
                            <form class="delete-btn" asp-controller="Order" asp-action="DeleteOrderItem" asp-route-id="@Model.Gpu.Id">
                                <button type="submit">&#10006;</button>
                            </form>
                        </div>
                    }
                    else
                    {
                        <span>Nie wybrano karty</span>
                    }
                </div>
                <div>
                    <a class="form-wrapper-btn" asp-controller="Product" asp-action="Type" asp-route-type="8">Wybierz</a>
                </div>
            </div>
        </div>
        <div class="child-item">
            <div class="single-item">
                <div class="list-elements">
                    @if (Model?.Additional.Count > 0)
                    {
                        @foreach (var item in Model.Additional)
                        {
                            <div class="d-flex flex-row justify-content-between">
                                <span class="first-span">@item.Name</span>
                                <span class="second-span">@item.Quantity</span>
                                <span class="third-span">Cena: @(item.Price*item.Quantity)</span>
                                <form class="delete-btn" asp-controller="Order" asp-action="DeleteOrderItem" asp-route-id="@item.Id">
                                    <button type="submit">&#10006;</button>
                                </form>
                            </div>
                        }
                    }
                    else
                    {
                        <span>Nie wybrano akcesoriów</span>
                    }
                </div>
                <div>
                    <a class="form-wrapper-btn" asp-controller="Product" asp-action="Type" asp-route-type="9">Dodaj</a>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-parent-child">
        <div class="child-item flex-grow-1">
            <div class="single-item">
                <div class="list-elements align-items-center w-100">
                    <div class="list-summary justify-content-between w-100">
                        <span class="align-self-center">Podsumowanie</span>
                        @if (Model?.Products.Count > 0)
                            @foreach (var item in Model?.Products)
                            {
                                <div class="summary-item">
                                    <span class="first-span">@item.Name</span><span class="second-span">@item.Price</span><span class="third-span">@item.Quantity</span>
                                </div>
                            }
                        <span>Do zapłaty: @ViewBag.summary zł</span>
                    </div>
                    <form asp-action="Create">
                        <div class="form-group w-100 d-flex flex-column align-items-center">
                            <label asp-for="SelectedLocation" class="control-label">Adres dostawy</label>
                            @if (Model?.CurrentUserLocations == null || Model.CurrentUserLocations.Count == 0)
                            {
                                <a class="form-wrapper-btn" asp-controller="User" asp-action="CreateLocation">Utwórz adres</a>
                            }
                            else
                            {
                                <select asp-for="SelectedLocation" class="location-select" asp-items="ViewBag.locationSelect"></select>
                            }
                        </div>
                        @if (Model == null || Model.Products == null  || Model?.Products.Count == 0)
                        {
                            <span>Nie wybrano żadnego produktu!</span>
                        }
                        else
                        {
                            <button type="submit" class="form-wrapper-btn">Zamów i zapłać</button>
                        }
                    </form>
                </div>
            </div>
        </div>
        <div class="child-item" style=" height: 40%; ">
            <div class="single-item">
                <div>
                    @if (Model?.Pccase != null)
                    {
                        <div class="d-flex flex-row justify-content-between">
                            <span>@Model.Pccase.Name</span>
                            <span>Cena: @Model.Pccase.Price</span>
                            <form class="delete-btn" asp-controller="Order" asp-action="DeleteOrderItem" asp-route-id="@Model.Pccase.Id">
                                <button type="submit">&#10006;</button>
                            </form>
                        </div>
                    }
                    else
                    {
                        <span>Nie wybrano obudowy</span>
                    }
                </div>
                <div>
                    <a class="form-wrapper-btn" asp-controller="Product" asp-action="Type" asp-route-type="6">Wybierz</a>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-parent-child">
        <div class="child-item">
            <div>
                <div>
                    @if (Model?.Ram != null)
                    {
                        <div class="d-flex flex-row justify-content-between">
                            <span>@Model.Ram.Name</span>
                            <span>Cena: @Model.Ram.Price</span>
                            <form class="delete-btn" asp-controller="Order" asp-action="DeleteOrderItem" asp-route-id="@Model.Ram.Id">
                                <button type="submit">&#10006;</button>
                            </form>
                        </div>
                    }
                    else
                    {
                        <span>Nie wybrano RAMu</span>
                    }
                </div>
                <div>
                    <a class="form-wrapper-btn" asp-controller="Product" asp-action="Type" asp-route-type="2">Wybierz</a>
                </div>
            </div>
            <div>
                <div>
                    @if (Model?.Mobo != null)
                    {
                        <div class="d-flex flex-row justify-content-between">
                            <span>@Model.Mobo.Name</span>
                            <span>Cena: @Model.Mobo.Price</span>
                            <form class="delete-btn" asp-controller="Order" asp-action="DeleteOrderItem" asp-route-id="@Model.Mobo.Id">
                                <button type="submit">&#10006;</button>
                            </form>
                        </div>
                    }
                    else
                    {
                        <span>Nie wybrano płyty głównej</span>
                    }
                </div>
                <div>
                    <a class="form-wrapper-btn" asp-controller="Product" asp-action="Type" asp-route-type="3">Wybierz</a>
                </div>
            </div>
        </div>
        <div class="child-item">
            <div class="single-item">
                <div class="list-elements">
                    @if (Model?.Disks.Count > 0)
                    {
                        @foreach (var item in Model.Disks)
                        {
                            <div class="d-flex flex-row justify-content-between">
                                <span class="first-span">@item.Name</span>
                                <span class="second-span">@item.Quantity</span>
                                <span class="third-span">Cena: @(item.Price*item.Quantity)</span>
                                <form class="delete-btn" asp-controller="Order" asp-action="DeleteOrderItem" asp-route-id="@item.Id" asp-route-returnUrl="@Url.Action("PCMaker", "Order")">
                                    <button type="submit">&#10006;</button>
                                </form>
                            </div>
                        }
                    }
                    else
                    {
                        <span>Nie wybrano dysków</span>
                    }
                </div>
                <div>
                    <a class="form-wrapper-btn" asp-controller="Product" asp-action="Type" asp-route-type="4">Dodaj SSD</a>
                    <a class="form-wrapper-btn" asp-controller="Product" asp-action="Type" asp-route-type="5">Dodaj HDD</a>
                </div>
            </div>
        </div>
        <div class="child-item">
            <div class="single-item">
                <div>
                    @if (Model?.Psu != null)
                    {
                        <div class="d-flex flex-row justify-content-between">
                            <span>@Model.Psu.Name</span>
                            <span>Cena: @Model.Psu.Price</span>
                            <form class="delete-btn" asp-controller="Order" asp-action="DeleteOrderItem" asp-route-id="@Model.Psu.Id" asp-route-returnUrl="@Url.Action("PCMaker", "Order")">
                                <button type="submit">&#10006;</button>
                            </form>
                        </div>
                    }
                    else
                    {
                        <span>Nie wybrano zasilacza</span>
                    }
                </div>
                <div>
                    <a class="form-wrapper-btn" asp-controller="Product" asp-action="Type" asp-route-type="7">Wybierz</a>
                </div>
            </div>
        </div>
    </div>
</div>