﻿@model SklepInternetowy.BL.DTOs.User.CreateUserDTO

<div class="form-wrapper">
    <form asp-action="Create">
        <h4>Utwórz nowe konto:</h4>

        <div asp-validation-summary="All" class="text-danger"></div>
        <h2>Dane logowania:</h2>
        <div class="form-group">
            <label asp-for="UserName">Nazwa użytkownika</label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password">Hasło</label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Firstname">Imię</label>
            <input asp-for="Firstname" class="form-control" />
            <span asp-validation-for="Firstname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Surname">Nazwisko</label>
            <input asp-for="Surname" class="form-control" />
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber">Numer telefonu</label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Type" class="control-label">Typ konta</label>
            <select asp-for="Type" class="form-control" asp-items="Html.GetEnumSelectList<SklepInternetowy.Core.Enums.UserType>()"></select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
        <button type="submit" class="form-wrapper-btn">Utwórz</button>
    </form>

    <div class="form-wrapper-btn">
        <a href="##" onClick="history.go(-1); return false;">Powrót</a>
    </div>
</div>
