﻿@model SklepInternetowy.BL.DTOs.User.CreateLocationDTO

<div class="form-wrapper">
    <form asp-action="CreateLocation">
        <h4>Utwórz nowy adres</h4>
        <div asp-validation-summary="All" class="text-danger"></div>
        <h2>Dane logowania:</h2>
        <div class="form-group">
            <label asp-for="LocationName">Nazwa adresu</label>
            <input asp-for="LocationName" class="form-control" />
            <span asp-validation-for="LocationName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Street">Ulica</label>
            <input asp-for="Street" class="form-control" />
            <span asp-validation-for="Street" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="StreetNo">Numer budynku</label>
            <input asp-for="StreetNo" class="form-control" />
            <span asp-validation-for="StreetNo" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ApartmentNo">Numer mieszkania</label>
            <input asp-for="ApartmentNo" class="form-control" />
            <span asp-validation-for="ApartmentNo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="City">Miasto</label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PostCode">Kod pocztowy</label>
            <input asp-for="PostCode" class="form-control" />
            <span asp-validation-for="PostCode" class="text-danger"></span>
        </div>
        <button type="submit" class="form-wrapper-btn">Utwórz</button>
    </form>

    <div class="form-wrapper-btn">
        <a href="##" class="btn btn-outline-dark" onClick="history.go(-1); return false;">Powrót</a>
    </div>
</div>