﻿@model SklepInternetowy.BL.DTOs.User.DeleteLocationDTO

<h3>Potwierdzenie tej akcji spowoduje usunięcie adresu. </h3>
<div class="form-wrapper">
    <dl>
        <dt>
            Nazwa lokalizacji:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationName)
        </dd>
    </dl>

    <form asp-action="DeleteLocationConfirmed">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="form-wrapper-btn">Usuń adres</button>
        <a href="##" class="form-wrapper-btn" onClick="history.go(-1); return false;">Powrót</a>
    </form>
</div>