﻿@model SklepInternetowy.BL.DTOs.User.DeleteUserDTO

<h3>Potwierdzenie tej akcji spowoduje usunięcie konta. </h3>
<div class="form-wrapper">
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>

    <form asp-action="DeleteConfirmed">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="form-wrapper-btn">Usuń konto</button>
        <a href="##" class="form-wrapper-btn" onClick="history.go(-1); return false;">Anuluj</a>
    </form>
</div>
