﻿@model SklepInternetowy.BL.DTOs.User.DetailsUserDTO

<div class="form-wrapper">
    <dl>
        <dt>
            Nazwa konta
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            E-mail
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Imię
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt>
            Nazwisko
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt>
            Numer telefonu
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            Aktywny
        </dt>
        <dd>
            @if (Model.IsActive)
            {
                <span>Tak</span>
            }
            else
            {
                <span>Nie</span>
            }
        </dd>
    </dl>

    @if (Model.UserType != SklepInternetowy.Core.Enums.UserType.client)
    {
        <a class="form-wrapper-btn" asp-action="Delete" asp-route-id="@Model.Id">Usuń</a>
    }
    else
    {
        <a class="form-wrapper-btn" asp-action="Edit">Edytuj</a>
    }
    <a href="##" class="form-wrapper-btn" onClick="history.go(-1); return false;">Powrót</a>
</div>