﻿@model SklepInternetowy.BL.DTOs.User.EditUserDTO

<div class="form-wrapper">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Firstname">Imię</label>
            <input asp-for="Firstname" class="form-control" type="text" name="Firstname" value="@Model.Firstname" />
            <span asp-validation-for="Firstname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Surname" class="control-label">Nazwisko</label>
            <input asp-for="Surname" class="form-control" type="text" name="Surname" value="@Model.Surname" />
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber" class="control-label">Numer telefonu</label>
            <input asp-for="PhoneNumber" placeholder="Wprowadź cenę produktu" class="form-control" type="text" name="PhoneNumber" value="@Model.PhoneNumber" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <button class="form-wrapper-btn" type="submit">Zapisz zmiany</button>
    </form>
    <a class="form-wrapper-btn" asp-area="Identity" asp-page="/Account/Manage/ChangePassword">Zmień hasło</a>
    <a href="##" class="form-wrapper-btn" onClick="history.go(-1); return false;">Powrót</a>
</div>