﻿@model SklepInternetowy.BL.Models.PaginatedList<SklepInternetowy.BL.DTOs.User.ListUserDTO>

<div class="table-wrapper">

    <form class="text-white" asp-action="Index" method="get">
        <div class="search-wrapper">
            <input class="form-control" type="text" placeholder="Email, login..." name="search" value="@ViewData["CurrentFilter"]" />
            <div>
                <button type="submit" class="form-wrapper-btn">Szukaj</button>
                <a class="form-wrapper-btn" asp-action="Index">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                    </svg>
                </a>
                <a class="form-wrapper-btn" asp-action="Create">Dodaj</a>
            </div>
        </div>
    </form>

    <table class="table text-white table-responsive-sm">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DateCreatedSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Data utworzenia</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Nazwa użytkownika</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["TypeSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">E-mail</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <a class="table-link" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                        <a class="table-link" asp-action="Details" asp-route-id="@item.Id">Szczegóły </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    <div class="d-flex align-self-center">
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="table-link @prevDisabled">
            Poprzednia
        </a>
        <a class="table-link @nextDisabled" asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]">
            Następna
        </a>
    </div>
</div>