﻿@model List<SklepInternetowy.BL.DTOs.User.ListUserLocationDTO>

<div class="table-wrapper">
    <table class="text-white table table-responsive-xl">
        <thead>
            <tr>
                <th>
                    Data utworzenia
                </th>
                <th>
                    Nazwa
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @item.DateCreated.ToString("yyyy.MM.dd")
                    </td>
                    <td>
                        <a asp-controller="User" asp-action="LocationDetails" asp-route-id="@item.Id">Szczegóły</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-action="CreateLocation" class="form-wrapper-btn">Dodaj adres</a>
    </div>
</div>