﻿@model SklepInternetowy.BL.DTOs.User.GetLocationDTO

<div class="form-wrapper">
    <dl>
        <dt>
            Nazwa lokalizacji
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationName)
        </dd>
        <dt>
            Ulica
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            Numer budynku
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StreetNo)
        </dd>
        <dt>
            Numer mieszkania
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApartmentNo)
        </dd>
        <dt>
            Miasto
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            Kod pocztowy
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostCode)
        </dd>
    </dl>
    <a class="form-wrapper-btn" asp-action="DeleteLocation" asp-route-id="@Model.Id">Usuń</a>
    <a href="##" class="form-wrapper-btn" onClick="history.go(-1); return false;">Powrót</a>
</div>