﻿body {
    margin: 0px;
    font-family: 'Segoe UI', Arial;
}

.invoice-head {
    clear: both;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    padding: 10px;
    margin-bottom: 40px;
}

.invoice-title {
    background-color: rgba(116,33,33,1);
    color: white;
    font-size: 20px;
    padding: 10px;
    width: 100%;
}
.span {
    padding-left:15%;
}

.invoice-to {
    float: left;
}

.invoice-details {
    float: right;
}

table {
    clear: both;
    border: 1px solid darkgray;
    border-collapse: collapse;
    margin: 50px auto;
    width:100%;
}

th {
    background-color: rgba(116,33,33,1);
    color: white;
}

td, th {
    border: 1px solid darkgray;
    padding: 5px;
}

.numeric-cell {
    text-align: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
