﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}


header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
}

.navbar {
    /*    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;*/
    border: none;
    padding: 3vh;
    color: #373737;
    border-bottom: groove #ff000024 1rem;
    background: rgb(46, 13, 13);
    /*    background: rgba(120, 6, 6, 0.72);*/
}

/* Provide sufficient contrast against white background */
a {
    color: #fff;
    text-decoration: none;
}

    a:hover {
        color: #fff;
        text-decoration: none;
    }

.navbar-toggler {
    border-radius: 30px;
    opacity: 0.6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

@media (max-width: 575px) {
    .nav-link {
        padding-left: 0;
    }
}

@media (min-width: 733px) {
    .navbar-expand-sm .navbar-toggler {
        display: none;
    }
}

@media (min-width: 576px) {
    .navbar-expand-sm .navbar-toggler {
        display: none;
    }
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    color: #fff;
    letter-spacing: 1.5px;
    background: rgb(10,10,10);
    background: linear-gradient(313deg, rgba(10,10,10,1) 2%, rgba(116,33,33,1) 20%, rgba(0,0,0,1) 60%, rgba(56,2,2,1) 91%);
    background-size: 250% 250%;
    animation: gradient 12s ease-in-out infinite both;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.home-container {
    display: flex;
    padding: 0 5vh 0 5vh;
    flex-grow: 1;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background: url('../img/PXL-20210315-154820754LS (1).GIF') no-repeat;
    background-size: cover;
    background-position: center;
}

    .home-container div {
        border-radius: 30px;
        padding: 40px;
        background: rgba(0, 0, 0, 0.62);
        max-width: 60vh;
    }

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

.flex-parent {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;
    align-items: center;
}



button, a {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    background-color: transparent;
    color: white;
    border: none;
    letter-spacing: 1.5px;
}

    button:before, a:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 50%;
        right: 50%;
        bottom: 0;
        background: rgba(120, 6, 6, 0.72);
        height: 4px;
        -webkit-transition-property: left, right;
        transition-property: left, right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    button:hover:before, a:hover:before, button:focus:before, a:focus:before, button:active:before, a:active:before {
        left: 0;
        right: 0;
    }


/* FORMULARZE I INNE  */
.form-wrapper form {
    display: flex;
    flex-direction: column;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    width: 80vh;
    margin: 50px auto;
    width: 80%;
}

.form-wrapper-btn {
    align-self: center;
    padding: 2vh 5px 2vh 5px;
    display: flex;
    flex-direction: column;
}

a.disabled {
    pointer-events: none;
    color: #5f5f5f;
}

@media (min-width: 960px) {
    .form-wrapper form {
        display: flex;
        flex-direction: column;
        width: 50vh;
    }

    .form-wrapper-btn {
        padding: 2vh;
    }

    .form-wrapper {
        display: flex;
        flex-direction: column;
        width: 50vh;
        margin: 50px auto;
    }
}

.table-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 50px auto;
}

.search-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1vh;
}

    .search-wrapper div {
        display: flex;
    }

@media (min-width: 1040px) {
    .table-wrapper {
        width: 60vw;
    }

    .search-wrapper input {
        max-width: 60%;
    }
}

.table-link {
    padding: 0 0.5vw 0.1vh 0.5vw;
}

.form-wrapper dl {
    display: flex;
    flex-direction: column;
    align-items: center;
}

dl dd {
    padding: 0 0 2vh 0;
}
/* KONFIGURATOOOOR */
.flex-parent-row {
    width: 100%;
    max-width: 100%;
    margin-top: 71vh;
    display: flex;
    flex-direction: column;
    height: 90vh;
    align-items: stretch;
    justify-content: center;
}

.flex-parent-child {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

.child-item {
    display: flex;
    flex-direction: column;
    padding:3vh 5px;
}


@media (min-width: 900px) {
    .flex-parent-row {
        flex-direction: row;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        margin-top:0;
    }

    .flex-parent-child {
        width: 33%;
        height: 100%;
    }

    .child-item {
        flex-direction: column;
        align-items: stretch;
        justify-content: space-evenly;
        height: 100%;
        margin: 20px;
        padding: 0;
    }
}

.child-item > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    width: 100%;
    background: rgba(0, 0, 0, 0.20);
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.single-item {
    height: 100% !important;
}

div > span {
    padding: 1vw;
}

.child-item > div:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,1);
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.child-item > div:hover, .child-item > div:focus, .child-item > div:active {
    color: white;
}

    .child-item > div:hover:before, .child-item > div:focus:before, .child-item > div:active:before {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

.list-summary {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.list-elements {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
}

@media (min-width: 900px) {
    .list-summary {
        max-height: 70vh;
        overflow-y: auto;
    }

    .list-elements {
        max-height: 50vh;
        overflow-y: auto;
    }
}

.location-select {
    background: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid white;
    width: 100%;
    padding: 5px;
}

.summary-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

    .summary-item span {
        min-width: 33%;
        max-width: 33%;
    }

.third-span {
    text-align: right;
}

.second-span {
    text-align: center;
}

.first-span {
    text-align: left;
}

::-webkit-scrollbar {
    width: 1vw;
    background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.20);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 30px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #353535;
    }

.delete-btn {
    display: flex;
    align-items: center;
}
